<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeffxyz.article.mapper.BlogMapper">

    <resultMap id="BaseResultMap" category="com.yeffxyz.article.entity.Article">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="appreciation" column="appreciation" jdbcType="BIT"/>
        <result property="commentable" column="commentabled" jdbcType="BIT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="firstPicture" column="first_picture" jdbcType="VARCHAR"/>
        <result property="flag" column="flag" jdbcType="VARCHAR"/>
        <result property="published" column="published" jdbcType="BIT"/>
        <result property="recommend" column="recommend" jdbcType="BIT"/>
        <result property="copyright" column="share_statement" jdbcType="BIT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="views" column="views" jdbcType="VARCHAR"/>
        <result property="typeId" column="type_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,appreciation,commentable,
        content,create_time,first_picture,
        flag,published,recommend,
        copyright,title,update_time,
        views,type_id,user_id,
        description,comment_count
    </sql>

    <!--查询文章管理列表-->
    <select id="getAllBlog" resultType="com.yeffxyz.article.entity.Article">
        select b.id,
               b.title,
               b.create_time,
               b.update_time,
               b.recommend,
               b.published,
               b.type_id,
               t.id,
               t.name
        from myblog.t_blog b
                 left outer join myblog.t_type t on b.type_id = t.id
        order by b.create_time desc
    </select>

    <!--搜索博客管理列表-->
    <select id="searchByTitleAndType" resultType="com.yeffxyz.article.entity.Article">
        <bind name="pattern" value="'%' + title + '%'"/>
        select b.id,b.title,b.type_id,t.id,t.name from myblog.t_blog b ,myblog.t_type t
        <where>
            <if test="1 == 1">
                b.type_id = t.id
            </if>
            <if test="typeId != null">
                and b.type_id = #{typeId}
            </if>
            <if test="title != null">
                and b.title like #{pattern}
            </if>
        </where>
    </select>

    <!--查询首页最新博客列表信息-->
    <select id="getLastBlog" resultType="com.yeffxyz.article.entity.Article">
        select b.id,
               b.title,
               b.first_picture,
               b.views,
               b.comment_count,
               b.create_time,
               b.update_time,
               b.description,
               t.name,
               u.nickname,
               u.avatar
        from myblog.t_blog b,
             myblog.t_type t,
             myblog.t_user u
        where b.type_id = t.id
          and u.id = b.user_id
          and b.published = 1
        order by b.create_time desc
    </select>

    <!--查询推荐文章-->
    <select id="getAllRecommendBlog" resultType="com.yeffxyz.article.entity.Article">
        SELECT *
        FROM myblog.t_blog
        WHERE t_blog.recommend = TRUE
        ORDER BY t_blog.create_time DESC LIMIT 4
    </select>

    <!--搜索文章-->
    <select id="getSearchBlog" resultType="com.yeffxyz.article.entity.Article">
        <bind name="pattern" value="'%' + query + '%'"/>
        select b.id,b.title,b.first_picture, b.views,b.comment_count,b.update_time,b.description,t.name , u.nickname,
        u.avatar
        from myblog.t_blog b, myblog.t_type t,myblog.t_user u
        where b.type_id = t.id and u.id = b.user_id and (b.title like #{pattern} or b.content like #{pattern})
        order by b.update_time desc
    </select>

    <!--查看浏览量-->
    <select id="getBlogViewTotal" resultType="Integer">
        select coalesce(sum(views), 0)
        from myblog.t_blog
    </select>
    <!--查看评论数-->
    <select id="getBlogCommentTotal" resultType="Integer">
        select count(*)
        from myblog.t_comment
    </select>
    <select id="getBlogMessageTotal" resultType="Integer">
        select count(*)
        from myblog.t_message
    </select>

    <!--博客详情查询-->
    <select id="getDetailedBlog" resultType="com.yeffxyz.article.entity.Article">
        select b.id bid,
               b.first_picture,
               b.flag,
               b.title,
               b.content,
               b.views,
               b.comment_count,
               b.update_time,
               b.commentabled,
               b.share_statement,
               b.appreciation,
               u.nickname,
               u.avatar,
               t.name
        from myblog.t_blog b,
             myblog.t_user u,
             myblog.t_type t
        where b.user_id = u.id
          and b.type_id = t.id
          and b.id = #{id}
    </select>

    <!--文章访问自增-->
    <update id="updateViews" parameterType="com.yeffxyz.article.entity.Article">
        update myblog.t_blog b
        set b.views = b.views + 1
        where b.id = #{id}
    </update>

    <!--查询出文章评论数量并更新-->
    <update id="getCommentCountById" parameterType="com.yeffxyz.article.entity.Article">
        update myblog.t_blog b
        set b.comment_count = (
            select count(*) from myblog.t_comment c where c.blog_id = #{id} and b.id = #{id}
        )
        WHERE b.id = #{id}
    </update>


    <!--根据TypeId查询博客列表，显示在分类页面-->
    <select id="getByTypeId" resultType="com.yeffxyz.article.entity.Type">
        select b.id,
               b.title,
               b.first_picture,
               b.views,
               b.comment_count,
               b.update_time,
               b.description,
               t.name,
               u.nickname,
               u.avatar
        from myblog.t_blog b,
             myblog.t_type t,
             myblog.t_user u
        where b.type_id = t.id
          and u.id = b.user_id
          and b.type_id = #{typeId}
        order by b.update_time desc
    </select>

    <!--查询最新评论-->
    <select id="getNewComment" resultType="com.yeffxyz.article.entity.Comment">
        SELECT *
        FROM myblog.t_comment c,
             myblog.t_blog b
        WHERE c.blog_id = b.id
        ORDER BY c.create_time DESC LIMIT 10
    </select>
</mapper>
